<div class="container" style="padding-top:60px">
  <div class="row">
    <section class="main col-md-9">
      <article>
      <h2>About</h2>
     <p>
         Hello, I am Param katrodia enrolled in bachelors of software development course in Seneca College. I am currently in 3rd semester.  
        Some of my hobbies are playing sports like football, cricket and I also like to play online games such as PUBG, Call Of Duty.
        In future I want be cybersecurity analyst in a multinational organization. 
    </p>
      </article>
    </section>
    <aside class="col-md-3">
      <h2>Coming Soon</h2>
      <p>Stay tuned for future updates about my life.</p>
    </aside>
  </div>
</div>